{% extends "base.html" %}
{% block title %}Todo lists{% endblock %}
{% block content %}
<form action="{{ url_for('createList') }}" method="GET" class="createList form-inline">
	<div class="form-group">
		<input name="listName" type="text"></input>
		<input type="submit" value="Make list"></input>
	</div>
</form>
<hr/>
<form id="deleteList" class="form-inline" method="GET" action="{{ url_for('deleteList') }}">
	<ul>
		{% for listName,listId in lists %}
			<li>
				<input type="checkbox" name="list" value="{{ listId }}">
				<a href="{{ url_for('showTodos',listName=listName)}}" >{{ listName }}</a>
			</li>
		{% endfor %}
	</ul>
	<hr/>
	<input type="submit" value="Delete lists" name="delete">
</form>
{% endblock %}
