{% extends "base.html" %}
{% block title %}Todos - {{ listName }}{% endblock %}
{% block header %}{{ listName }}{% endblock %}
{% block content %}
<form action="{{ url_for('createTodo',listName=listName) }}" method="GET" class="createTodoi form-inline">
	<div class="form-group">
		<input type="text" class="form-control" name="content"></input>
		<button type="submit" class="btn btn-primary">Create todo</button>
	</div>
</form>
<hr/>
<!-- Start todos -->
<form id="modifyTodos" class="form-inline">
	{% if todos is equalto [] %}
		<h4>No todos</h4>
	{% else %}
		<ul class="list-unstyled">
			{% for content,todoId,completed in todos %}
			<li>
				{% if completed == 1 %}
					<label>
						<strike>
							<input type="checkbox" name="todo" value="{{ todoId }}">
							{{ content }}
						</strike>
					</label>
				{% else %}
					<label>
						<input type="checkbox" name="todo" value="{{ todoId }}">
						{{ content }}
					</label>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	{% endif %}
	<hr/>
	<button type="submit" formaction="{{ url_for('deleteTodos',listName=listName) }}" class="btn btn-danger">Delete todos</button>
	<button type="submit" formaction="{{ url_for('markTodos',listName=listName) }}" class="btn btn-success">Mark todos</button>
</form>
{% endblock %}
