{% extends "base.html" %}
{% block title %}Todos - {{ listName }}{% endblock %}
{% block content %}
<form action="{{ url_for('createTodo',listName=listName) }}" method="GET" class="createTodo">
	<input type="text" name="content"></input>
	<input type="submit" value="Create todo"></input>
</form>
<!-- Start todos -->
<form id="modifyTodos">
	<ul>
		{% for content,todoId,completed in todos %}
		<li>
			{% if completed == 1 %}
				<strike><input type="checkbox" name="todo" value="{{ todoId }}">{{ content }}</strike>
			{% else %}
					<input type="checkbox" name="todo" value="{{ todoId }}">{{ content }}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<input type="submit" value="Delete todos" name="delete" id="delete">
	<input type="submit" value="Toggle completion" name="markTodos" id="markTodos">
</form>
<script type="text/javascript">
	form = document.getElementById('modifyTodos');
	deleteButton = document.getElementById('delete');
	markTodosButton = document.getElementById('markTodos');

	deleteButton.addEventListener('click',function(){
		url='{{ url_for('deleteTodos',listName=listName) }}'
	});
	markTodosButton.addEventListener('click',function(){
		url='{{ url_for('markTodos',listName=listName) }}'
	});
	
	form.addEventListener('submit',function(){form.action=url});

</script>
{% endblock %}
